*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue';

}

body{
    background-image: linear-gradient(rgba(27, 27, 49, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.pod{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    letter-spacing: 20px;
    font-size: 20px;
}

.pod:hover::after{
    border-bottom: 1px solid white;
}


.hom{
    /*border: 1px solid darkred;*/
    display: flex;
    position: sticky;
    top:20px;
    justify-content: center;
    margin-top: 60px;
}

header{
    color: #ececec;
    display: flex;
    /*border: 1px solid red;*/
    height: 30vh;
    flex-direction: column;
    align-items: center;
}

header h1{
    /*border: 1px solid red;*/
    font-size: 200px;
}
.separator{
    border: 3px solid #ececec;
    width: 90%;
    border-radius: 10px;
}

.gallery{
    /*background-color: #ececec;*/
    display: grid;
    width: 90vw;
    height: 90vw;
    margin-left: 5vw;
    margin-top: 60px;
    /*border: 1px solid black;*/
    grid-template-rows: 32% 32% 32%;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
    /*background: white;*/
    /*border: 15px solid white;*/
}

.added{
    margin-top: 30px;
}

.image_box{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: background-size ;
    transition-timing-function: linear;
    transition-duration: 20s;
    border: 10px solid #ececec;
}

footer{
    height: 30vh;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 13% 74% 13%;
}

.footer_container{
    font-family: Oswald,sans-serif;
    display: flex;
    flex-direction: column;
    grid-row: 2/-1;
    grid-column: 1/-1;
    /*background-color: #642537;*/
    align-items: center;
    color: #ececec;
    justify-content: center;
}

.footer_container ul li{
    display: inline-block;
    margin: 15px 0px;
    list-style: none;
}

.footer_container ul li a{
    text-decoration: none;
    color: #ececec;
    margin: 0px 10px
}

.footer_container ul li a img{
    width: 30px;
    opacity: 0.3;
    transition: 0.3s;
}

.footer_container ul li a img:hover{
    opacity: 1;
}

.image_box:hover{
    background-size: 120%;
}

.copyright{
    font-size: 10px;
    letter-spacing: 5px;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
    transition-delay: 0.1s;
}

